<div class="event-box ms-2 me-2 flex-grow-1">
    <div class="event-header">
        <h2 class="header">{{title}}</h2>
        {{#if logged_in}}
        <p class="desciption">{{description}}</p>
        {{/if}}
        <div>
            <p><strong>Status</strong>: {{status.status_name}}</p>
            <p><strong>Game</strong>: {{game.game_name}}</p>
            <p><strong>Platform</strong>: {{platform.platform_name}}</p>
            {{#if logged_in}}
            <p><strong>Organiser</strong>: {{organiser.name}}</p>
            {{/if}}
        </div>
    </div>
</div>